<html>
<head>
<title>
{{ config.sitename }} - My Rigs
</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
<link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.css">
</head>

<div id="title">
 <h1><FONT COLOR="#FFFFFF">{{ config.sitename }} - My Rigs</FONT></h1>
</div>

<div id="headlinks">
<a href="{% url 'addrig' %}">Add Rig</a>
</div>

<table>
 <tr>
  <th align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Name</FONT></th>
  <th align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Miner</FONT></th>
  <th align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Algo</FONT></th>
  <th align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Hashrate</FONT></th>
  <th align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Power</FONT></th>
  <th align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Monitor</FONT></th>
  <th align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">IP Address</FONT></th>
  <th align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Reset</FONT></th>
  <th align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">GPIO</FONT></th>
  <th align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Temp Reset</FONT></th>
  <th align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Hash Reset</FONT></th>
  <th align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Status</FONT></th>
  <th align="center" style="white-space: nowrap;text-align:center" colspan=2><FONT COLOR="#A0A0A0">Actions</FONT></th>
 </tr>
{% for rigs in rig %}
 <tr>
  <td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ rigs.name }}</a></FONT></td>
  <td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ rigs.miner }}</a></FONT></td> 
  <td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ rigs.algo }}</a></FONT></td> 
  <td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ rigs.hash }}</a></FONT></td> 
  <td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ rigs.power }}</a></FONT></td> 
  <td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ rigs.monitor }}</a></FONT></td> 
  <td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ rigs.address }}</a></FONT></td> 
  <td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ rigs.reset }}</a></FONT></td> 
  <td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ rigs.gpio }}</a></FONT></td> 
  <td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ rigs.temp }}</a></FONT></td> 
  <td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ rigs.hashr }}</a></FONT></td> 
  <td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ rigs.status }}</a></FONT></td> 
  <td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0"><a href="editrig/{{ rigs.pk }}/">Edit</a></FONT></td>
  <td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0"><a href="delrig/{{ rigs.pk }}/" onclick="return confirm('Are you sure you want to delete this?')">Delete</a></FONT></td>
 </tr>
{% endfor %}
</table>
</html>
